header {
  text-align: center;
  background-color: #ccaa66;
  width: 80%;
  margin: auto;
  min-width: 800px;
}

body {
  background-color: #e9e1ad;
}

.main-content {
  width: 80%;
  margin: auto;
  min-width: 800px;
  height: auto;
  background-color: #e2d1b2;
}

.nav-bar {
  float: left;
  width: 150px;
  margin-top: 30px;
  text-align: center;
  border-radius: 10px;
}

.nav-bar a {
  display: block;
  margin: 0;
  padding: 8px;
  font-size: 18px;
  text-decoration: none;
  font-weight: bold;
  color: #a88262;
}

.nav-bar a:hover {
  color: #7e4e44;
}

.nav-bar a:visited {
  color: red;
}

.nav-bar a:active {
  color: black;
  text-decoration: underline;
}

.body {
  margin-left: 155px;
  background-color: #f5f5dd;
  color: #000000;
  height: auto;
  padding-bottom: 50px;
}

.body h2,
p {
  margin-top: 0;
  padding-top: 20px;
  margin-left: 20px;
}

.product-content {
  display: flex;
  align-items: center;
}

.product-image {
  margin-top: 50px;
  margin: auto;
  margin-left: 40px;
}

.product-list {
  flex: 1;
}

.product-list li {
  list-style-image: url("./image/trillium.gif");
  background-repeat: repeat-y;
}

.product-list ul li,
p {
  font-size: 25px;
  color: black;
}

.form {
  margin-left: 50px;
}

.form label {
  vertical-align: top;
  padding-right: 10px;
  font-weight: bold;
  display: inline-block;
  width: 120px;
  text-align: right;
}

input[type="text"],
input[type="email"],
input[type="date"],
textarea {
  margin-right: 50px;
  padding: 5px;
}

.table {
  margin: 0 auto;
  margin-left: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.total_price {
  display: block;
  padding-top: 50px;
  color: #7e4e44;
}

.table table {
  border: none;
  width: 75%;
  border-spacing: 1px;
}

.table tr,
td {
  font-size: large;
  height: 75px;
  padding: 10px;
  border-style: none;
}

.table tr:nth-of-type(odd) {
  background-color: #ccaa66;
}

.pdt-menu {
  text-align: center;
  font-weight: bold;
}

.music-table {
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.music-table table {
  border: none;
  width: 75%;
  border-spacing: 1px;
}

.music-table tr,
td {
  font-size: large;
  height: 75px;
  padding: 10px;
  border-style: none;
}

.footer {
  height: 80px;
  width: 80%;
  margin: auto;
  min-width: 850px;
  text-align: center;
  background-color: #ccaa66;
  overflow: hidden;
}

.footer > footer {
  padding-top: 20px;
  margin: 0;
}

.error {
  margin-left: 130px;
  padding: 5px;
  color:red;
}
